doctype html
html(lang='zh_TW')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title 年輕力量進國會
    meta(charset='utf-8')
    //if lt IE 9
      script(src='js/html5.js')
    link(rel='stylesheet', media='all', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // JS
    meta(name='description', content='2016大選的意義，不僅在於執政的政黨可能輪替，而更在於立法院所代表的國會可能如何改革。\
    對於國會改革，許多人都相信：國民黨需要教訓、民進黨需要制衡、代表年輕世代的第三力量要展現。這個計劃，就是希望能提供目前沒有資源、沒有人力的年輕改革力量一些支援，讓他們在做的事情得到多一些曝光的機會，使得期待改革的人能看到年輕人正在做些什麼，也使得進行改革的年輕人能得到期待改革的人的支持。')
    meta(property='og:image', content='http://twunbound.github.io/images/ogimage.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    // ENDS Flex Slider
    //if IE 6
      link(rel='stylesheet', href='css/ie6-hacks.css', media='screen')
      script(src='js/DD_belatedPNG.js')
      script.
        /* EXAMPLE */ DD_belatedPNG.fix('*');
    // Lessgrid
    link(rel='stylesheet', media='all', href='/css/lessgrid.css')
  body
    // mobile-nav
    #mobile-nav-holder
      .wrapper
        #nav-open
          a(href='/') 首頁
    // ENDS mobile-nav
    header.header-2
      .wrapper
        a#logo(href='/')
          img(src='/images/logo.png', alt='')
        nav
          ul#nav
            li
              a(href='/') 首頁
            li
              a(href='#candidate') 我們所"看見"的候選人
        .clearfix
    // MAIN
    #main
      // social
      #content
        .header
          a(name='users', id='#candidate')
          .pull-right
            .fb-like(data-href='http://twunbound.github.io/', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
          h2 我們所"看見"的候選人
          h3 一步一腳印的為您呈現，鏡頭外的候選人。
        hr
        .row.news-item
          .col-xs-12.col-sm-4.col-md-3
            a.thumbnail(href='/view/why')
              img(src='/images/000-00.jpg', alt='郝明義')
          .col-xs-12.col-sm-8.col-md-9
            a(href='/view/why')
              h3.news-item-title 讓期待改革的人和進行改革的人相會
            abbr.news-item-date 2015/12/21 00:00
            a(href='/view/why')
              p.news-item-abstract
                | 2016大選的意義，不僅在於執政的政黨可能輪替，而更在於立法院所代表的國會可能如何改革。
                | 對於國會改革，許多人都相信：國民黨需要教訓、民進黨需要制衡......
            span.label.label-success 採訪筆記
        .row.news-item
          .col-xs-12.col-sm-4.col-md-3
            a.thumbnail(href='/view/poyu-tseng2016')
              img(src='/images/004-01.jpg', alt='曾柏瑜')
          .col-xs-12.col-sm-8.col-md-9.greensdparty
            a(href='/view/poyu-tseng2016')
              h3.news-item-title 曾柏瑜：衝出巷口的決心 
            abbr.news-item-date 2015/12/22 22:00
            a(href='/view/poyu-tseng2016')
              p.news-item-abstract
                | 曾柏瑜是2016年所有立委參選人裡最年輕的一位。今年只有二十三歲。
                | 和她見面的那天早上，下雨。她走進綠黨在台北辦事處，穿著雨衣的樣子，
                | 就和路上任何一位大學生的樣子沒什麼差別。
                | 當然，當她開始談話之後，就都不一樣了。......
            span.label.label-success 綠社盟
            span.label.label-success 新北市第11選區
            span.label.label-success 新店
            span.label.label-success 深坑
            span.label.label-success 石碇
            span.label.label-success 烏來
            span.label.label-success 坪林
        .row.news-item
          .col-xs-12.col-sm-4.col-md-3
            a.thumbnail(href='/view/lu-d-jie')
              img(src='/images/002-02.jpg', alt='呂東杰')
          .col-xs-12.col-sm-8.col-md-9.greensdparty
            a(href='/view/lu-d-jie')
              h3.news-item-title 呂東杰：隱俠出江湖
            abbr.news-item-date 2015/12/23 10:00
            a(href='/view/lu-d-jie')
              p.news-item-abstract
                | 武俠小說裡，會有這樣一個場面：一個隱名埋姓的人，從床下挪出一條滿是塵埃的長布包。他慢慢打開捲布，露出其中的長匣......
            span.label.label-success 綠社盟
            span.label.label-success 桃園市第六選區
            span.label.label-success 八德區
            span.label.label-success 大溪區
            span.label.label-success 復興區
            span.label.label-success 中壢區
        .row.news-item
          .col-xs-12.col-sm-4.col-md-3
            a.thumbnail(href='/view/MiaoPoya')
              img(src='/images/001-03.jpg', alt='苗博雅')
          .col-xs-12.col-sm-8.col-md-9.greensdparty
            a(href='/view/MiaoPoya')
              h3.news-item-title 苗博雅：冰下有火
            abbr.news-item-date 2015/12/23 15:00
            a(href='/view/MiaoPoya')
              p.news-item-abstract
                | 我們這些還要在台灣生活五十年的人，對自己的未來、台灣的未來，不能不做一些改變，否則我們的將來看不到希望。......
            span.label.label-success 綠社盟
            span.label.label-success 台北市文山區
        .row.news-item
          .col-xs-12.col-sm-4.col-md-3
            a.thumbnail(href='/view/ivotefreddy')
              img(src='/images/005-03.jpg', alt='林昶佐')
          .col-xs-12.col-sm-8.col-md-9.newpowerparty
            a(href='/view/ivotefreddy')
              h3.news-item-title 林昶佐：奔放中的冷靜 
            abbr.news-item-date 2015/12/23 16:00
            a(href='/view/ivotefreddy')
              p.news-item-abstract
                | 這麼說，我所知道的林昶佐，有三種身分或個性。首先，是閃靈樂團那個舞台造型眩目的Freddy。再來，是那個決定披著時代力量的戰袍參選立委後的林昶佐，看板上素淨白襯衫看來是個健康寶寶，但是沒什麼笑容，顯得冷靜，甚至有些冷淡。......
            span.label.label-success 時代力量
            span.label.label-success 台北市中正、萬華區
        .row.news-item
          .col-xs-12.col-sm-4.col-md-3
            a.thumbnail(href='/view/imagelephant')
              img(src='/images/006-01.jpg', alt='柯一正')
          .col-xs-12.col-sm-8.col-md-9.newpowerparty
            a(href='/view/imagelephant')
              h3.news-item-title 柯一正：認真的遊戲者 
            abbr.news-item-date 2015/12/24 13:00 
            a(href='/view/imagelephant')
              p.news-item-abstract
                | 兩年以前，柯一正是我最想認識的人。
                | 在反黑箱服貿的早期階段，我一直努力聯結各種我想到的社會力量。除了我自己所在的出版產業之外，我聯結上以鄭秀玲代表的學術界力量，還有以g0v為代表的網路力量......
            span.label.label-success 時代力量
            span.label.label-success 不分區
        //
          <div class="row news-item"  >
          <div class="col-xs-12 col-sm-4 col-md-3">
          <a href="#" class="thumbnail">
          <img src="/images/anonymous.jpg" alt="">
          </a>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9 newpowerparty">
          <h3 class="news-item-title">柯一正 (..... 敬請期待)</h3>
          <p>&nbsp;</p>
          <span class="label label-success">時代力量</span>
          <span class="label label-success">不分區</span>
          </div>
          </div>
          <div class="row news-item"  >
          <div class="col-xs-12 col-sm-4 col-md-3">
          <a href="" class="thumbnail">
          <img src="/images/007-01.jpg" alt="柯劭臻">
          </a>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9 newpowerparty">
          <h3 class="news-item-title">柯劭臻 (..... 敬請期待)</h3>
          <p>&nbsp;</p>
          <span class="label label-success">時代力量</span>
          <span class="label label-success">不分區</span>
          </div>
          </div>
        .row.news-item
          .col-xs-12.col-sm-4.col-md-3
            a.thumbnail(href='/view/LawyerCo')
              img(src='/images/007-01.jpg', alt='柯劭臻')
          .col-xs-12.col-sm-8.col-md-9.newpowerparty
            a(href='/view/LawyerCo')
              h3.news-item-title 柯劭臻：風暴中挪動一吋吋腳步 
            abbr.news-item-date 2015/12/24 20:00 
            a(href='/view/LawyerCo')
              p.news-item-abstract
                | 之前沒見過她，知道的都是網上看來的一些資料：長期為環保議題抗爭的律師、人稱柯莉絲等等。近年來許多重大的環保與社會事件，如雲林鎘米、大埔、苑里反瘋車等等，都有她的參與。這樣，等她踏著有些急促的步伐趕到，我們開始談話，我在心底一直有個印象，和一句話在迴旋著...
            span.label.label-success 時代力量
            span.label.label-success 不分區

        .row.news-item
          .col-xs-12.col-sm-4.col-md-3
            a.thumbnail(href='/view/JenniferLuTw')
              img(src='/images/008-01.jpg', alt='')
          .col-xs-12.col-sm-8.col-md-9.greensdparty
            a(href='/view/JenniferLuTw')
              h3.news-item-title 呂欣潔：柔和的勇猛
            abbr.news-item-date 2015/12/25 10:00 
            a(href='/view/JenniferLuTw')
              p.news-item-abstract
                | 呂欣潔長期在婦女、家暴、同志、長照等議題上投入，都和關懷弱勢相關，所以她的政策主張也都一以貫之地環繞著這些議題。她曾經在民進黨中央黨部婦女部工作過，也長期為聯合國多元性別倡議小組工作。...

            span.label.label-success 綠社盟
            span.label.label-success 信義松山區
        
        each item in items 
          if item.id && item.wait != true
            .row.news-item
              .col-xs-12.col-sm-4.col-md-3
                a.thumbnail(href='/view/'+item.id)
                  img(src='/images/'+item.sn+'-0'+item.photo[0].index+'.jpg', alt=name)

              div(class="col-xs-12 col-sm-8 col-md-9 "+item.party)
                a(href='/view/'+item.id)
                  h3.news-item-title=item.title
                abbr.news-item-date=item.time
                a(href='/view/'+item.id)
                  p.news-item-abstract=item.truncate(item.part1,100)
                p
                  if item.party == "greensdparty"
                    span.label.label-success 綠社盟
                  else if item.party == "newpowerparty"
                    span.label.label-success 時代力量

                  each val in item.tag_ary
                    span=" "
                    span.label.label-success=val
          else
            .row.news-item
              .col-xs-12.col-sm-4.col-md-3
                if item.photo && item.photo.length > 0
                  a.thumbnail(href='#')
                    img(src='/images/'+item.sn+'-0'+item.photo[0].index+'.jpg', alt=name)
                else
                  a.thumbnail(href='#')
                    img(src='/images/anonymous.jpg', alt='')

              div(class="col-xs-12 col-sm-8 col-md-9 "+item.party)
                h3.news-item-title=item.name + " (...... 敬請期待)"
                p  
                if item.party == "greensdparty"
                  span.label.label-success 綠社盟
                else if item.party == "newpowerparty"
                  span.label.label-success 時代力量

                each val in item.tag_ary
                  span=" "
                  span.label.label-success=val


        .row.news-item
          .col-xs-12.col-sm-4.col-md-3
            a.thumbnail(href='#')
              img(src='/images/anonymous.jpg', alt='')
          .col-xs-12.col-sm-8.col-md-9
            h3.news-item-title="待推出 (...... 還有 " + (27-7 - items.length)  + " 人)"
      // ENDS content
      .clearfix
      .shadow-main
    // ENDS MAIN
    footer(style='clear:both;')
      .wrapper
        section#copyright
          p 本站內容採用 CC BY-NC-SA 3.0 授權分享。
          p 採訪：郝明義、陳季芳；LOGO 設計：Akibo
          p
            | 網站設計：知名不具；
            a(href='https://github.com/twunbound/twunbound.github.io') Fork me on github.
        .clearfix
      #to-top
    #fb-root
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67262972-3', 'auto');
      ga('send', 'pageview');
